.appContainer {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.slider {
  display: flex;
  justify-content: center;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 100px;
  background-color: red;
}
